@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.main-wrapper {
    position: relative;
    min-height: 100%;
}

button {
    cursor: pointer;
}

:root {
    /*--container-max-width: 1920px;*/
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.logo {
    padding: 60px 0;
}

.header-container {
    position: relative;
}

.bg-left {
    position: absolute;
    top: -152%;
    left: -18%;
    max-width: 100%;
}

.bg-right {
    position: absolute;
    top: -266%;
    right: -15%;
    max-width: 100%;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.main-title {
    text-transform: uppercase;
    color: #162C4E;
    font-size: 72px;
    line-height: 1.04em;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
}

.main-text, .check-text, .go-btn-text  {
    font-size: 18px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
}

.main-text, .check-text {
    color: rgba(0, 0, 0, 0.8);
}

.main-text {
    max-width: 23%;
}

.time-count-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    line-height: 1em;
    font-style: normal;
    font-weight: 600;
    color: #162C4E;
    margin: 72px 0;
}

.time-count-separator {
    align-self: flex-start;
}

.time-count-text-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 54px;
    background-image: url("../img/bg-red-element.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.time-count-text {
    width: 100%;
    font-size: 16px;
    line-height: 1em;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.check-text {
    margin-bottom: 12px;
}

.check-button {
    margin-bottom: 75px;
}

.go-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    background-color: #1D4169;
    border-radius: 40px;
    padding: 17px 0;
    transition: 0.3s all;
}

.go-btn-text {
    color: #FFFFFF;
    margin-right: 20px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-bg {
    background-color: #162C4E;
}

.footer-form {
    padding: 61px 0 72px 0;
}

.form-wrapper {
    display: inline-flex;
    position: relative;
}

.form-wrapper::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(22, 44, 78, 0.6) url("../img/loading.gif") center / 100px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.form-wrapper.sending::after {
    opacity: 1;
    visibility: visible;
}

.form-input {
    display: inline-flex;
    width: 440px;
    padding: 24px 60px 21px 27px;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.8);
    outline: none;
    transition: 0.3s all;
}

.form-input:focus, .go-btn:hover {
    box-shadow: 0 0 40px rgba(28, 120, 208, 0.4);
}

.form-input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
}

.form-elipse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DF2224;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}

.form-input.error {
    box-shadow: 0 0 40px rgba(192, 15, 15, 0.75);
    background-color: rgba(248, 214, 214, 0.93);
}

.form-input.good {
    box-shadow: 0 0 40px rgba(22, 103, 13, 0.75);
    background-color: #a4d292;
}

/*input.mail {*/
/*    -webkit-appearance: none;*/
/*    width: 100%;*/
/*    border: 1px solid #333;*/
/*}*/

/*!* Стилизация не валидных полей *!*/
/*input.invalid{*/
/*    border-color: #900;*/
/*    background-color: #FDD;*/
/*}*/

/*input:focus.invalid {*/
/*    outline: none;*/
/*}*/

/*!* Стилизация сообщений об ошибках *!*/
/*.error {*/
/*    width  : 100%;*/
/*    padding: 0;*/
/*    font-size: 80%;*/
/*    color: white;*/
/*    background-color: #900;*/
/*    border-radius: 0 0 5px 5px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/

/*}*/

/*.error.active {*/
/*    padding: 0.3em;*/
/*}*/
